<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  {{#if cssFileName}}
  <link rel="stylesheet" href="stylesheets/{{cssFileName}}.css">
  {{/if}}

</head>

<body>
  {{> site-nav}}

  {{{body}}}

  {{#if scriptName}}
  <script src="javascripts/{{scriptName}}.js"></script>
  {{/if}}
</body>

</html>